@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 211 70% 100%;
    --foreground: 211 77% 4%;
    --muted: 211 32% 85%;
    --muted-foreground: 211 11% 36%;
    --popover: 211 70% 100%;
    --popover-foreground: 211 77% 4%;
    --card: 0 0% 99%;
    --card-foreground: 211 77% 3%;
    --border: 211 11% 95%;
    --input: 211 11% 95%;
    --primary: 211 100% 15.38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 211 10% 92%;
    --secondary-foreground: 211 10% 32%;
    --accent: 211 10% 92%;
    --accent-foreground: 211 10% 32%;
    --destructive: 2 82.15% 52.59%;
    --destructive-foreground: 2 8.49% 97.48%;
    --ring: 211 94% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 211 42% 0%;
    --foreground: 211 37% 98%;
    --muted: 211 32% 15%;
    --muted-foreground: 211 11% 64%;
    --popover: 211 42% 0%;
    --popover-foreground: 211 37% 98%;
    --card: 0 0% 1%;
    --card-foreground: 211 37% 99%;
    --border: 211 11% 13%;
    --input: 211 11% 13%;
    --primary: 211 94% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 211 9% 16%;
    --secondary-foreground: 211 9% 76%;
    --accent: 211 9% 16%;
    --accent-foreground: 211 9% 76%;
    --destructive: 2 92% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 211 94% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
